<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3> {{ title }} </h3>
                    <span>
                        <div *ngIf="loading" class="spinner-border mt-2" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </span>
                    <span *ngIf="submitted && createEmployee.invalid" class="badge bg-danger ">ALL FIELDS ARE REQUIRED</span>
                    <form class="mt-4" [formGroup]="createEmployee" (ngSubmit)="addEditEmployee()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Name" formControlName="name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last" formControlName="last">
                            </div>
                        </div>
                        <input type="text" class="form-control mt-3" placeholder="DNI" formControlName="dni">
                        <input type="number" class="form-control mt-3" placeholder="Salary" formControlName="salary">
                        <div class="mt-3">
                            <button class="btn btn-secondary mx-2" routerLink="/list-employees">Back</button>
                            <button type="submit" class="btn btn-dark">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>