<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Employees List:</span>
            <button class="btn btn-dark btn-lg " routerLink="/create-employee">Add</button>
            <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Last</th>
                    <th>DNI</th>
                    <th>Salary</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>David</td>
                    <td>Cicconi</td>
                    <td>37.447.255</td>
                    <td>35000</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info mx-2"></i> 
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Estefania</td>
                    <td>Astudillo</td>
                    <td>41.217.928</td>
                    <td>35000</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info mx-2"></i> 
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mia</td>
                    <td>Cicconi</td>
                    <td>78.252.266</td>
                    <td>45000</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info mx-2"></i> 
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>