<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Employees List:</span>
            <button class="btn btn-dark btn-lg " routerLink="/create-employee">Add</button>
            <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Last</th>
                    <th>DNI</th>
                    <th>Salary</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">
                    <td> {{employee.name}} </td>
                    <td> {{employee.last}} </td>
                    <td> {{employee.dni/1000}} </td>
                    <td> {{employee.salary | currency}} </td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info mx-2"></i> 
                      <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>